.container {
    display: flex;
    height: 100vh;
}
 
.sidebar {
    width: 20vw;
    background-color: white;
    border-right: 0.1vw solid #ddd;
    padding: 2vh 1.5vw;
}
 
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.form-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
 
.save-btn {
    width: 100%;
    padding: 12px;
    background-color: #7cc53b;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
 
.save-btn:hover {
    background-color: #66a930;
}
 
.logo-container img {
    width: 120px;
}
/* logo container */